html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', Helvetica, Arial, sans-serif;        
}
#map {
  height: 50%;
  width: 75%;
  margin-left: 12.5%;
  margin-right: 12.5%;
}
#output{
  text-align:center;
}

.center {
  text-align: center;
}
.objectcenter {
  position: absolute;
}

.button {
  margin-top: 20px;
}
p {
  font-size: 14px;
  line-height: 2;
}

